@charset "UTF-8";

body {
	background: black;
	color: white;
}


h4 {
	color: white;
}


h1{ 
	color:white;
	padding-left: 5%;
}
.titleLog{
	padding-top: 1%;
	padding-left:5%;
	color: white;	
}
.title {
	padding-top: 1%;
	padding-left:55%;
	color: #D0D0D0	;
}
.subtitle{
	color: #D0D0D0	;
	text-align:center;
}
.title2 {
	padding-top: 0%;
	padding-left:0%;
	color: #D0D0D0	;
	text-align:center;
	
}

.carta-link:hover {
	text-decoration: underline;
	color: green;
}
.carta-link:visited{
	color:none;
}
.carta-link {
	color: white;
}
.box {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 18%;
	height: 100%;
	background: black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	border-left: 5px solid black;
	border-right: 5px solid grey;
}

.button {
	margin-top: 0px;
	margin-bottom: 0px;
	left: 20%;
	position: relative;
	background: none;
	border:none; 
	width: 20%;
	cursor: pointer;
	color: white;
	text-align: center;
	padding-bottom: 16px;
	padding-top: 16px;
}

.button2 {
	position:relative;
	width:88%;
	border-top:10%;
	border-bottom:10%;
	height:20%;
	left:-3%;
	background:none;
	color:white;
	cursor:pointer;
	border:none;
}

.button3 {
	margin-top: 0px;
	margin-bottom: 0px;
	left: 5%;
	position: relative;
	border:none; 
	width: 20%;
	cursor: pointer;
	color: white;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 4px;
	background: #fe3c00;
	opacity: 0.9;
}

.buttonHome {
	margin-top: 0px;
	margin-bottom: 0px;
	left: 2%;
	top:25%;
	height:35%;
	position: absolute;
	border:none; 
	width: 20%;
	cursor: pointer;
	color: white;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 4px;
	background:none
}
.buttonHome:hover{
	text-decoration:underline;
	background: #fe3c00;
	color: white;
}
.button:hover{
	text-decoration:underline;
	background: #fe3c00;
	color: white;
}

.button2:hover{
	text-decoration:underline;
	background: #fe3c00;
	color: white;
}

.button3:hover{
	text-decoration:underline;
	background: #e53600;
	color: white;
}


.top-box {
	position: absolute;
	width: 100%;
	height: 9%;
	top: 0px;
	left: 0px;
	background: black;
	margin: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	border:none;	
}
.top-box2 {
	position: absolute;
	width: 100%;
	height: 15%;
	top: 0px;
	left: 0px;
	margin: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	border:none;
	background-image: url(/assets/topbanner.png);
	z-index:3;
}
.top-banner{
	position: absolute;
	width: 100%;
	height: 9%;
	top: 0px;
	left: 0px;
	margin: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	border:none;
	background: black;
	z-index:2;
}
.logo-box{
	margin-top: 0px;
	margin-bottom: 0px;
	left: 0%;
	position: absolute;
	background: none;
	border:none; 
	width: 20%;
	height:75%;
	color: white;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
}
.logo-box2{
	margin-top: 0px;
	margin-bottom: 0px;
	left: 22%;
	position: absolute;
	background: none;
	border:none; 
	width: 20%;
	height:50%;
	color: white;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
}

.logo{
	position: relative;
	max-width: 100%;
	max-height: 100%;
}
.background-box{
	position:absolute;
	top:9%;
	left:0%;
	width:100%;
}

.background-box2{
	position:absolute;
	top:9%;
	height:91%;
	left:0%;
	width:100%;
	background-image: url(/assets/back6.jpg);
	opacity: 0.8;
	z-index:1;
}
.background-box3{
	padding-top:5%;
	position:absolute;
	top:16%;
	height:150%;
	left:0%;
	width:100%;
	background-image: url(/assets/background-grey.jpg);
	opacity: 0.8;
	z-index:1;
}
.background-LogIn{
	position:absolute;
	top:9%;
	height:91%;
	left:0%;
	width:100%;
	background-image: url(/assets/backLog.jpg);
	opacity: 0.8;
	z-index:1;
}
.form-box{
	padding-left:13%;
	padding-right:13%;
	padding-bottom:2%;
	position:relative;
	top:5%;
	width:73%;
	left:0%;
	height:auto;
	background:none;
	
}
.form-boxLog{
	padding-left:5%;
	padding-right:5%;
	padding-bottom:2%;
	position:relative;
	top:5%;
	width:73%;
	left:0%;
	height:auto;
	background:none;
	
}
.confirm-box{
	padding-left:13%;
	padding-right:13%;
	padding-bottom:2%;
	position:relative;
	top:5%;
	width:13%;
	left:30%;
	height:auto;
	background:none;
	text-align:center;
	border: 20px black;
}

input {
  border: 2px solid grey;
  border-radius: 4px;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
  
}

.error{
	background:#fe3c00;
	transition: background-color 0.6s;

}

.error:hover{
	background: white;
}
.normal{
	background:white;
}
.carta-box {
	position:relative;
	height:300%;
	width: 70%;
	left:10%;
	height:auto;
	background: none;
	padding-bottom:0.5%;
}


.cartaimg-box {
	padding:0%;
	position:relative;
	width:10%;
	padding-top:1%;
	padding-bottom:1.5%;
	left:0%;
	height:80%;
	heigth:auto;
	display: inline-block;
	z-index: 3;
}


.info-boxV{
	position:absolute;
	width:100%;
	
	top:0%;
	left:0%;
	z-index:1;
	height:95%;
	border:none;
	display: inline-block;
	background-image: url(/assets/back4.jpg);
	opacity:0.8;
	padding-top:1%;
	padding-left: 10%;
	transition: width 0.5s;


	
}
.info-boxN{
	position:absolute;
	width:100%;
	
	top:0%;
	left:0%;
	z-index:1;
	height:95%;
	border:none;
	display: inline-block;
	background-image: url(/assets/swamp-wrapper.jpg);
	opacity:0.8;
	padding-top:1%;
	padding-left: 10%;
	transition: width 0.5s;

}
.info-boxB{
	position:absolute;
	width:100%;
	
	top:0%;
	left:0%;
	z-index:1;
	height:95%;
	border:none;
	display: inline-block;
	background-image: url(/assets/island-wrapper.jpg);
	opacity:0.8;
	padding-top:1%;
	padding-left: 10%;
	transition: width 0.5s;
}
.info-boxR{
	position:absolute;
	width:100%;
	
	top:0;
	left:0%;
	z-index:1;
	height:95%;
	border:none;
	display: inline-block;
	background-image: url(/assets/mountain-wrapper.jpg);
	opacity:0.8;
	padding-top:1%;
	padding-left: 10%;
	transition: width 0.5s;
}
.info-boxW{
	position:absolute;
	width:100%;
	
	top:0;
	left:0%;
	z-index:1;
	height:95%;
	border:none;
	display: inline-block;
	background-image: url(/assets/plains-wrapper.jpg);
	opacity:0.8;
	padding-top:1%;
	padding-left: 10%;
	transition: width 0.5s;
}
.info-boxV:hover{
	opacity:1;
	overflow: scroll;
	width: 110%;
	height:105%;
	z-index:2;
	border: 2px solid black;
}
.info-boxN:hover{
	opacity:1;
	overflow: scroll;
	width: 110%;
	height:105%;
	z-index:2;
	border: 2px solid black;
	
}
.info-boxB:hover{
	opacity:1;
	overflow: scroll;
	width: 110%;
	height:105%;
	z-index:2;
	border: 2px solid black;
	
}
.info-boxR:hover{
	opacity:1;
	overflow: scroll;
	width: 110%;
	height:105%;
	z-index:2;
	border: 2px solid black;
	
}
.info-boxW:hover{
	opacity:1;
	overflow: scroll;
	width: 110%;
	height:105%;
	z-index:2;
	border: 2px solid black;
	
}
.cartaimg-box img{
	vertical-align: middle;
	horizontal-align: middle;
}
.cardimg{
	height:100%;
	width:100%;
	-webkit-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.72);
	-moz-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.72);
	box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.72);
}
.cardimg2{
	opacity:1;
	-webkit-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.72);
	-moz-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.72);
	box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.72);
}
.back-V{
	padding-top:5%;
	position:absolute;
	top:16%;
	height:90%;
	left:0%;
	width:100%;
	background-image: url(/assets/backV.jpg);
	opacity: 0.8;
	z-index:1;
}
.back-R{
	padding-top:5%;
	position:absolute;
	top:16%;
	height:90%;
	left:0%;
	width:100%;
	background-image: url(/assets/backR.jpg);
	opacity: 0.8;
	z-index:1;
}
.back-W{
	padding-top:5%;
	position:absolute;
	top:16%;
	height:90%;
	left:0%;
	width:100%;
	background-image: url(/assets/backW.jpg);
	opacity: 0.8;
	z-index:1;
}
.back-B{
	padding-top:5%;
	position:absolute;
	top:16%;
	height:90%;
	left:0%;
	width:100%;
	background-image: url(/assets/backB.jpg);
	opacity: 0.8;
	z-index:1;
}
.back-N{
	padding-top:5%;
	position:absolute;
	top:16%;
	height:90%;
	left:0%;
	width:100%;
	background-image: url(/assets/backN.jpg);
	opacity: 0.8;
	z-index:1;
}
.container-card{
	position:absolute;
	top:25%;
	left:15%;
	width:65%;
	height:80%;
	z-index:2;
	border: 2px solid black;
	background: #484848	;
	opacity:0.6;
	-webkit-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.72);
	-moz-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.72);
	box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.72);
}
.container-card2{
	padding-top:7%;
	padding-left:6%;
	position:absolute;
	top:25%;
	left:15%;
	width:65%;
	height:80%;
	z-index:3;
}
.info-box2{
	text-align:center;
	width:42%;
	position:absolute;
	top:25%;
	left:38%;
	padding-top:10%;
	z-index:3;
}
.form-carta{
	position:absolute;
	left: 38%;
	width:42%;
	top:62%;
	z-index: 3;
	text-align: center;
}
input.type2 {
  border: 2px solid grey;
  border-radius: 4px;
  width: 45%;
  margin: 8px 0;
  box-sizing: border-box;

}

input.error2{
	background:#fe3c00;
	transition: background-color 0.6s;
 	border: 2px solid grey;
  	border-radius: 4px;
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.error2:hover{
	background: white;
}
.normal2{
	background:white;
	border: 2px solid grey;
    border-radius: 4px;
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.button4 {
	margin-top: 0px;
	margin-bottom: 0px;
	position: absolute;
	border:none; 
	top:100%;
	left:35%;
	width: 30%;
	cursor: pointer;
	color: white;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 4px;
	background: #fe3c00;
	opacity: 0.9;
}
.button4:hover{
	text-decoration:underline;
	background: #e53600;
	color: white;
}
.quantita-box{
	text-align: center;
	position:absolute;
	z-index: 3;
	top: 80%;
	left:20%;
	width:17%;
}
.i-box{
	z-index:4;
	position:absolute;
	height:3%;
	left:69%;
	top: 64%;
}
.i-box:hover{
	cursor:pointer;
	
}
.i-img{
	position: relative;
	width: 10%;
	height: 100%;
	-webkit-box-shadow: -4px 4px 9px 0px rgba(0,0,0,0.72);
	-moz-box-shadow: -4px 4px 9px 0px rgba(0,0,0,0.72);
	box-shadow: -4px 4px 9px 0px rgba(0,0,0,0.72);
	border:1px solid black;
}
.i-img:hover{
	height:110%;
	width:11%;
	-webkit-box-shadow: -4px 4px 9px 0px rgba(0,0,0,0.72);
	-moz-box-shadow: -4px 4px 9px 0px rgba(0,0,0,0.72);
	box-shadow: -4px 4px 9px 0px rgba(0,0,0,0.72);
	border:2px solid black;
}
.i-Hide{
	display:none
}
.evolution{
	z-index:4;
	position:absolute;
	left:69%;
	top: 61%;
	width:14%;
	height:10%;
	background: grey;
	opacity:0.9;
	border:1px solid black;
}