@charset "UTF-8";

body {
	background: black;
	color: white;
}

/* Stili per i titoli h1 */
h4 {
	color: white;
}


}
/* Colore dei titoli h1 per la stampa */


a.link:hover {
	text-decoration: underline
}

input:focus {
	background: #fe3c00;
}

.box {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 18%;
	height: 100%;
	background: black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	border-left: 5px solid black;
	border-right: 5px solid grey;
}

.button {
	margin-top: 0px;
	margin-bottom: 0px;
	left: 20%;
	position: relative;
	background: none;
	border:none; 
	width: 20%;
	cursor: pointer;
	color: white;
	text-align: center;
	padding-bottom: 16px;
	padding-top: 16px;
}

.button2 {
	position:relative;
	width:29%;
	height:20%;
	left:16%;
	background:none;
	color:white;
	cursor:pointer;
	border:none;
}

.button:hover{
	text-decoration:underline;
	background: #fe3c00;
	color: white;
}

.button2:hover{
	text-decoration:underline;
	background: #fe3c00;
	color: white;
}


.top-box {
	position: fixed;
	width: 100%;
	height: 9%;
	top: 0px;
	left: 0px;
	background: black;
	margin: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	border:none;	
}
.logo-box{
	margin-top: 0px;
	margin-bottom: 0px;
	left: 0%;
	position: fixed;
	background: none;
	border:none; 
	width: 20%;
	height:8%;
	color: white;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
}
.logo-box2{
	margin-top: 0px;
	margin-bottom: 0px;
	left: 40%;
	position: fixed;
	background: none;
	border:none; 
	width: 20%;
	height:8%;
	color: white;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
}

.logo{
	position: relative;
	max-width: 100%;
	max-height: 100%;
}
.background-box{
	position:fixed;
	top:9%;
	left:0%;
	width:100%;
}
.form-box{
	position:relative;
	top:5%;
	width:40%;
	left:38%;
	height:auto;
	background:none;
	
}