<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xlms="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" th:href="@{/css/home.css}" />
<meta charset="ISO-8859-1">
<title>Utenti</title>
</head>
<body>
	<div class="top-box2">
		<a th:href="@{'/home'}"><input class="buttonHome" type="button"
			value="TORNA ALLA HOME"></a>

		<div class="logo-box2">
			<a th:href="@{'/home'}"><img th:src="@{'/assets/logo.png'}"
				class="logo" /></a>
		</div>
		<h1 class="title">UTENTI</h1>
	</div>
	<div class="background-box3">
		<div th:each="utente : ${utenti}" class="carta-box">
			<div class="cartaimg-box">
				<img class="cardimg" th:src="@{'assets/utente.jpg'}" />
			</div>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 1}" class="info-boxU1">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 2}" class="info-boxU2">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 3}" class="info-boxU3">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 4}" class="info-boxU4">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 5}" class="info-boxU5">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 6}" class="info-boxU1">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 7}" class="info-boxU2">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 8}" class="info-boxU3">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 9}" class="info-boxU4">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 10}" class="info-boxU5">
					<h1  th:text="${utente.username}"></h1>
				</div></a>	
			<a th:href="@{'/utente' + '/' + ${utente.id}}"><div 
					th:if="${utente.random == 0}" class="info-boxU4">
					<h1  th:text="${utente.username}"></h1>
				</div></a>
		</div>
	</div>
</body>
</html>