<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xlms="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" th:href="@{/css/home.css}" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="top-box">
		<div class="logo-box">
			<a th:href="@{'/home'}"><img th:src="@{'/assets/logo.png'}" class="logo" /></a>
		</div>
	</div>
	<div class="background-box2">
	<div class="form-box">
	<h1>CONFERMA REGISTRAZIONE</h1>
	Nome:
	<p th:text="${utente.nome}"></p>

	Congome:
	<p th:text="${utente.cognome}"></p>

	Email:
	<p th:text="${utente.email}"></p>

	Username:
	<p th:text="${utente.username}"></p>

	<a th:href="@{'/logIn'}"><input type="button" class="button3" value="Invio" /></a>
	</div></div>
	
</body>
</html>