<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xlms="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" th:href="@{/css/home.css}" />
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<div class="top-box">
		<div class="logo-box">
			<img th:src="@{'/assets/logo.png'}" class="logo"/></div>
		
				<a th:href="@{'/collezione'}"><input class="button" type="button"
					value="COLLEZIONE" /></a>

				<a th:href="@{'/collezionePersonale'}"><input class="button" type="button"
					value="LA MIA COLLEZIONE" /></a>
					
				<a th:href="@{'/logout'}"><input class="button" type="button"
					value="LOG OUT"/></a>
					
				<span th:if="${utente.role}!='ADMIN'">
					<a th:href="@{'/diventaAdmin'}"><input class="button" type="button"
					value="DIVENTA ADMIN"></a>
				</span>
						
				<span th:if="${utente.role}=='admin'">
				<a th:href="@{/aggiungiCarta}"><input class="button" type="button"
					value="GESISCI" /></span></a>
	</div>
	<div class="background-box">
	<img th:src="@{'/assets/background.jpg'}" class="logo" />
	</div>
</body>
</html>