<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xlms="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/home.css}" />
<title>Log In</title>
</head>
<body>
<div class="top-banner">
		<div class="logo-box">
			<a th:href="@{'/index'}"><img th:src="@{'/assets/logo.png'}" class="logo" /></a>
		</div>
	</div>
<div class="background-LogIn">
  <h1 class="titleLog">ACCEDI</h1>
  <div th:if="${param.logout}">
    Hai effettuato il logout. A presto!
  </div>
  <form class="form-boxLog" th:action="@{/login}" method="post">
    <div>
      Username<br> <input th:unless="${param.error}" type="text" name="username" placeholder="Username"/>
      	<input th:if="${param.error}" class="error" type="text" name="username" placeholder="USERNAME O PASSWORD ERRATI!" oninput="this.className='normal'"/>
    </div>
    <div>
      Password<br> <input th:unless="${param.error}" type="password" name="password" placeholder="Password"/>
      	<input th:if="${param.error}" class="error" type="text" name="password" placeholder="USERNAME O PASSWORD ERRATI!" oninput="this.className='normal'"/>
    </div>
    <button class="button3" type="submit">
    	<h4>ENTRA</h4>
    </button>
  </form>
</div>
</body>
</html>