<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xlms="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/home.css}" />
<title>Sing Up</title>
</head>
<body>
	<div class="top-banner">
		<div class="logo-box">
			<a th:href="@{'/index'}"><img th:src="@{'/assets/logo.png'}" class="logo" /></a>
		</div>
	</div>
	<div class="background-box2">
		<div class="form-box">
			<h1>REGISTRATI</h1>
			<form th:action="@{/registrazione}" method="post"
				th:object="${utente}">

				Nome<br>
				<input class="error" th:if="${#fields.hasErrors('nome')}" type="text" th:field="*{nome}" placeholder="CAMPO OBBLIGATORIO!" oninput="this.className='normal'"/>
				<input th:unless="${#fields.hasErrors('nome')}" type="text" th:field="*{nome}" placeholder="Nome"/>
				<br> 
				Cognome<br>
				<input class="error" th:if="${#fields.hasErrors('cognome')}" type="text" th:field="*{cognome}"  placeholder="CAMPO OBBLIGATORIO!" oninput="this.className='normal'"/>
				<input th:unless="${#fields.hasErrors('cognome')}" type="text" th:field="*{cognome}"  placeholder="Cognome"/>
				<br>
				Email<br>
				<input class="error" th:if="${#fields.hasErrors('email')}" type="text" th:field="*{email}"  placeholder="CAMPO OBBLIGATORIO!" oninput="this.className='normal'"/>
				<input type="text" th:unless="${#fields.hasErrors('email')}" th:field="*{email}"  placeholder="Email"/>
				<br>
				Username<br>
				<input class="error" th:if="${#fields.hasErrors('username')}" type="text" th:field="*{username}"  placeholder="CAMPO OBBLIGATORIO!" oninput="this.className='normal'"/>
				<input th:unless="${#fields.hasErrors('username')}" type="text" th:field="*{username}"  placeholder="Username"/>
				<br>
				Password<br>
				<input class="error" type="password" th:if="${#fields.hasErrors('parolaSegreta')}" th:field="*{parolaSegreta}" placeholder="CAMPO OBBLIGATORIO!" oninput="this.className='normal'"/>
				<input type="password" th:unless="${#fields.hasErrors('parolaSegreta')}" th:field="*{parolaSegreta}" placeholder="Password"/>
				
				<br>

				<button type="submit" class="button3">
					<h4>INVIO</h4>
				</button>
			</form>
		</div>
	</div>
</body>
</html>